<!--<h1>Welcome to the home page</h1>-->
<style>
    nav {
        background-color: red;
        margin-left: -200px;
        margin-right: 0px;
        margin-top: 0px;
    }
    span1 {
        margin-left: 100px;
        margin-top: -30px;
        color: #EFEFEF;
        text-align: justify-all;
        font-size: medium;
    }
    .form-inline {
        margin-top: -40px;
        margin-left: 700px;
        margin-bottom: -20px;
    }
    span {
        margin-left: -250px;
        margin-top: 500px;
        margin-bottom: 5px;
        color: #EFEFEF;
    }
    span2 {
        margin-left: 1080px;
        margin-bottom: 100px;
        margin-top: 10px;
        color: #EFEFEF;
        text-align: center;
        font-size: medium;
    }
    .glyphicon.glyphicon-menu-hamburger{
        font-size: xx-large;
        margin-top: 15px;
        margin-bottom: -10px;
    }

    .glyphicon.glyphicon-user{
        font-size: xx-large;
        margin-top: -10px;
        color: #EFEFEF;

    }

</style>
<nav class="navbar navbar-light bg-light">
  <span1> Bharatiya Janta Party</span1>
  <span><%= link_to '<i class="glyphicon glyphicon-menu-hamburger"></i>'.html_safe, new_article_path, class: 'btn btn-default' %></span>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by name or phone no" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="glyphicon glyphicon-search"></i></button>
  </form>
  <span2> vikash kumar <%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe, users_path %> </span2>
</nav>
<!--<h1><%#= link_to 'Articles listing', articles_path %></h1>-->

